{
  "presets": [
    ["env", {"modules": false,"targets": {
      "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
    }}],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    ["component", [{"libraryName": "element-ui", "styleLibraryName": "theme-chalk"}]],
    "dynamic-import-node"
//    ["transform-remove-console", { "exclude": [ "error", "warn"] }]
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}
